CompileFlags:
  Add:
    - '-I../include'
    - '-I../3rdparty/stb'
    - '-I../3rdparty/tracy/public'
    - '-xc++'
    - '-std=c++20'
    - '-DMQ_VIDEO_FFMPEG'
    - '-DAZUR_PLATFORM_LINUX'
  Compiler: clang++
